* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

body {
  color: #73758d;
  font-size: 15px;
  min-height: 100vh;
  background-color: hsl(240, 78%, 98%);

  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
